<%= form_for @item, url: item_path(@item), html: {method: :patch} do |f| %>
  <h1>学習体験の情報を更新</h1>
  <p>ジャンル：
    <%= f.select :language, [["Git","git"], ["Ruby","ruby"], ["Rails","rails"], ["AWS","aws"], ["PHP","php"], ["情報発信","info"], ["ライティング講座","writing"]] %>
  </p>
  <p>キーワード：<%= f.text_field :keyword %></p>
  <p>体験カテゴリー：
    <%= f.select :exp_category, [["気付き","finding"], ["疑問","question"], ["解決","solution"]] %>
  </p>
  <p>体験内容：<%= f.text_area :exp_detail %></p>

  <input type="submit" value="SENT">
<% end %>
