<% if user_signed_in? %>
    <h1 class="text-secondary">投稿一覧<span class="flash-notice font-Large"><%= flash[:notice] %></span></h1>
    <!-- フィルタリングを行うための検索窓 -->
    <input class="form-control" id="myInput" type="text" placeholder="検索">

    <!-- テーブル -->
    <table class="table table-striped">
      <thead class="bg-danger text-white">
        <tr>
          <th class="text-nowrap">投稿者</th>
          <th class="text-nowrap">ジャンル</th>
          <th class="text-nowrap">キーワード</th>
          <th class="text-nowrap">カテゴリー</th>
          <th>内容</th>
        </tr>
      </thead>
      <tbody id="myTable">
        <% @items.each do |item| %>
          <tr>
            <td><%= item.user.nickname.present? ? "#{item.user.nickname}" : "会員No.#{item.user.id}" %></td>
            <td><%= @lang_hash[item.language] %></td>
            <td><%= item.keyword %></td>
            <td><%= @exp_categ_hash[item.exp_category] %></td>
            <td><%= item.exp_detail %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<% else %>
    <h1 class="text-secondary">ログインまたは新規登録してください</h1>
<% end %>

<script>
  $(document).ready(function(){
    $("#myInput").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#myTable tr").filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
    });
  });
</script>
