<!DOCTYPE html>
<html>
  <head>
    <title>学習経験記録アプリ</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  </head>

  <body>

    <!-- ここから -->
    <!--<% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
      <%= link_to "トップ", items_path %>
      <%= link_to '投稿画面へ', new_item_path %> 
      <%= link_to 'マイページへ', user_path(current_user.id) %> 
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: 'post' %>
      <%= link_to "新規登録", new_user_registration_path, class: 'post' %>
    <% end %>-->


    <nav class="navbar navbar-expand-lg navbar-dark bg-danger">

      <%= link_to "学習経験記録App", items_path, class: 'navbar-brand font-Large' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
       </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <% if user_signed_in? %>
              <li class="nav-item active">
                <%= link_to "投稿一覧", items_path, class: 'btn btn-default text-white font-large' %>
              </li>
              <li class="nav-item active">
                <%= link_to '投稿画面へ', new_item_path, class: 'btn btn-default text-white font-large' %> 
              </li>
              <li class="nav-item">
                <%= link_to 'マイページへ', user_path(current_user.id), class: 'btn btn-default text-white font-large' %> 
              </li>
        </ul>
        <ul class="navbar-nav">
              <li>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: 'btn btn-default text-white font-large' %>
              </li>
          <% else %>
              <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'post btn btn-default text-white font-large' %>
              </li>
              <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'post btn btn-default text-white font-large' %>
              </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <!-- ここまで -->
    <%= yield %>
  </body>
</html>
